body{
  color: #40514E;
  margin: 0;
  font-family: 'Merriweather', serif;
  text-align: center;
}
h2{
  color: #50b6bb;
  font-family: 'Montserrat', sans-serif;
}
h3{
  color: #50b6bb;
  font-family: 'Montserrat', sans-serif;
}
p{
    line-height: 2;
}
a{
  color: #50b6bb;
  font-family: 'Montserrat', sans-serif;
  margin: 20px;
  text-decoration: none;
}
a:hover{
  color: #010059;
}
hr{
  border: dotted #c8dad3 7px;
  border-bottom: none;
  width: 4%;
  margin: 80px auto;
}
img{
  border-radius: 100%;
  width: 25%;
}
#top-heading{
  color: #50b6bb;
  font-family: 'Sacramento', cursive;
  height: 80px;
  width: auto;
  position: absolute;
  left: 510px;
  top: 10px;
  font-size: 80px;
}
#top-para{
  color: #50b6bb;
  height: 20px;
  font-size: 1.5rem;
  position: absolute;
  left: 580px;
  top: 140px;
}
.top_container{
  background-color: #d3f6f3;
  text-align: center;
  margin-top: 0;
  position: relative;
  padding-top: 50px;
}
.middle_container{
  margin: 100px 0;
}
.bottom_container{
  background-color: #bfd8d5;
  padding: 50px 0 20px;
}
.mountain{
  height: 40%;
  width: 50%;
  margin-top: 20px;
}
.sunpng{
height: 100px;
width: 100px;
position: absolute;
right: 260px;
top: 20px;
}
.cloudpng{
  height: 120px;
  width: 150px;
  position: absolute;
  left: 150px;
  top: 180px;
}
.profile{
  width: 50%;
  margin: 100px auto 100px auto;
}
.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}
.contact-txt{
  width: 50%;
  margin: 40px auto 60px;
}
.html-img{
  width: 25%;
  background-color: #bfd8d5;
  float: left;
  margin-right: 30px;
}
.gif-img{
    width: 35%;
    background-color:#bfd8d5;
    float: right;
    margin-left: 30px;
}
.butn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 23px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.butn:hover {
  background: #3e28e0;
  background-image: -webkit-linear-gradient(top, #3e28e0, #34d9d9);
  background-image: -moz-linear-gradient(top, #3e28e0, #34d9d9);
  background-image: -ms-linear-gradient(top, #3e28e0, #34d9d9);
  background-image: -o-linear-gradient(top, #3e28e0, #34d9d9);
  background-image: linear-gradient(to bottom, #3e28e0, #34d9d9);
  text-decoration: none;
}
.copyright{
  color: #fffdf6;
  font-size: 0.6rem;
  padding: 20px 0;
}
/*
.html-decription{
  clear: left;
}
.gif-discription{
  clear: right;
}*/
